<template>
    <div class='wrapper'>
        <div class='package'>
            <div class='name'>Limited</div>
            <div class='price'>€2</div>
            <div class='trial'>Available for a month</div>
            <hr>
            <ul>
                <li>
                    <strong>8</strong>
                    team members
                </li>
                <li>
                    <strong>6</strong>
                    team playlists
                </li>
                <li>
                    <strong>Unlimited</strong>
                    public playlists
                </li>
            </ul>
        </div>
        <div class='package brilliant'>
            <div class='name'>Brilliant</div>
            <div class='price'>€5</div>
            <div class='trial'>Free 30 day trial</div>
            <hr>
            <ul>
                <li>
                    <strong>Unlimited</strong>
                    team members
                </li>
                <li>
                    <strong>Unlimited</strong>
                    team playlists
                </li>
                <li>
                    <strong>Unlimited</strong>
                    public playlists
                </li>
                <li>
                    Team analytics
                </li>
                <li>
                    Send files
                </li>
            </ul>
        </div>
        <div class='package'>
            <div class='name'>Basic</div>
            <div class='price'>€0</div>
            <div class='trial'>Totally free</div>
            <hr>
            <ul>
                <li>
                    <strong>5</strong>
                    team members
                </li>
                <li>
                    <strong>3</strong>
                    team playlists
                </li>
                <li>
                    <strong>Unlimited</strong>
                    public playlists
                </li>
            </ul>
        </div>
    </div>

</template>

<script>
    export default {
        name: "aboutPage",
        beforeDestroy(){
            console.log("asd")
        }
    }
</script>

<style scoped>

    /*
 * Developer: Alireza Eskandarpour Shoferi
 * Designer: Wouter de Bres (dribbble.com/wdeb)
 *
 * Distributed under the terms of the MIT license
 * https://opensource.org/licenses/MIT
 */
    .wrapper {
        padding: 50px;
        text-align: center;
        overflow: hidden;
    }

    .package {
        box-sizing: border-box;
        width: 301px;
        height: 380px;
        border: 3px solid #e8e8e8;
        border-radius: 7px;
        display: inline-block;
        padding: 24px;
        text-align: center;
        float: left;
        -webkit-transition: margin-top .5s linear;
        transition: margin-top .5s linear;
        position: relative;
        margin-right: 11px;
    }
    .package:hover {
        margin-top: -30px;
        -webkit-transition: margin-top .3s linear;
        transition: margin-top .3s linear;
    }

    .name {
        color: #565656;
        font-weight: 300;
        font-size: 3rem;
        margin-top: -5px;
    }

    .price {
        margin-top: 7px;
        font-weight: bold;
    }
    .price::after {
        content: " / month per user";
        font-weight: normal;
    }

    hr {
        background-color: #dedede;
        border: none;
        height: 1px;
    }

    .trial {
        font-size: .9rem;
        font-weight: 600;
        padding: 2px 21px 2px 21px;
        color: #33c4b6;
        border: 1px solid #e4e4e4;
        display: inline-block;
        border-radius: 15px;
        background-color: white;
        position: relative;
        bottom: -20px;
    }

    ul {
        list-style: none;
        padding: 0;
        text-align: left;
        margin-top: 29px;
    }

    li {
        margin-bottom: 15px;
    }
    li:before {
        font-size: 1.3rem;
        color: #33c4b6;
        margin-right: 3px;
    }

    .checkIcon, li:before, .brilliant::after {
        font-family: "FontAwesome";
        content: "\f00c";
    }

    .brilliant {
        border-color: #33c4b6;
    }
    .brilliant::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 64px 64px 0 0;
        border-color: #3bc6b8 transparent transparent transparent;
        position: absolute;
        left: 0;
        top: 0;
        content: "";
    }
    .brilliant::after {
        color: white;
        position: absolute;
        left: 9px;
        top: 6px;
        text-shadow: 0 0 2px #37c5b6;
        font-size: 1.4rem;
    }

</style>