 <template>
     <div>
        <div>
            <!--end navbar-right --><!--end container -->
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                    <div class="shopping-cart-total">
                        <ul class="navbar-right">
                            <li><a id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">{{allState.length}}</span></a></li>
                        </ul>
                        <span class="lighter-text">{{price}}</span>
                        <span class="main-color-text"></span>
                    </div>
                </div> <!--end shopping-cart-header -->

                <ol class="shopping-cart-items">
                    <li v-for="(item,key) in allState" :key="key">{{item.name}}: Count:{{item.count}}</li>
                    <button @click="deleteProd">Clear Cart</button>
                </ol>


            </div> <!--end shopping-cart -->
        </div> <!--end container -->
     </div>
</template>

<script>
    import productsPage from "./productsPage"
    import {mapGetters} from 'vuex'

    export default {
        name: "cart",
        props:{
          toggle: {
              required: true
          }
        },
        data(){
            return {
                cart: [],
            }
        },
        methods: {
            deleteProd(){
                this.$store.dispatch('deleteLocal')
                this.$emit('deleteProd')
            }
        },
        computed: {
            ...mapGetters(['allState']),

           price() {
               let amountPrice = 0;
               this.allState.forEach((item)=>{
                   amountPrice += item.price * item.count
               });
                return amountPrice
           },
        },
        component: {
            productsPage
        },
    }





</script>

<style lang="scss" scoped>

    body {
        font: 14px/22px "Lato", Arial, sans-serif;
        background: #6394F8;
    }

    .lighter-text {
        color: #ABB0BE;
    }



    nav {
        padding: 20px 0 40px 0;
        background: #F8F8F8;
        font-size: 16px;

        .navbar-left {
            float: left;
        }

        .navbar-right {
            float: right;
        }
        ul {

            li {
                display: inline;
                padding-left: 20px;
                a {
                    color: #777777;
                    text-decoration: none;

                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }

    .container {
        margin: auto;
        width: 80%;
    }

    .badge {
        background-color: #6394F8;
        border-radius: 10px;
        color: white;
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        padding: 3px 7px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }

    .shopping-cart {
        margin: 20px 0;
        float: right;
        background: white;
        width: 320px;
        position: relative;
        border-radius: 3px;
        padding: 20px;


        .shopping-cart-header {
            border-bottom: 1px solid #E8E8E8;
            padding-bottom: 15px;

            .shopping-cart-total {
                float: right;
            }
        }

        .shopping-cart-items {

            padding-top: 20px;

            li {
                margin-bottom: 18px;
            }

            img {
                float: left;
                margin-right: 12px;
            }

            .item-name {
                display: block;
                padding-top: 10px;
                font-size: 16px;
            }

            .item-price {
                margin-right: 8px;
            }


        }

    }

    .shopping-cart:after {
        bottom: 100%;
        left: 89%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: white;
        border-width: 8px;
        margin-left: -8px;
    }

    .cart-icon {
        color: #515783;
        font-size: 24px;
        margin-right: 7px;
        float: left;
    }

    .button {
        color:white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        display: block;
        border-radius: 3px;
        font-size: 16px;
        margin: 25px 0 15px 0;


    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }


</style>