<template>
    <div>
        <main>
            <!-- Landing Area -->
            <div id="landing">
                <div id="landing-text">
                    <div id="landing-text-inner">
                        <h1>UNSPLASH PHOTOGRAPHY</h1>
                        <h2>Beautiful natural Photography</h2>
                        <a href="#images" class="btn" id="view-work">
                            View Work
                        </a>
                    </div>
                </div>
                <div id="landing-image"></div>
            </div>
            <div id="images">
                <div id="header">
                    <h2>Our Work</h2>
                </div>
                <img src="https://source.unsplash.com/1600x900/?nature,water" alt="">
                <div class="caption">
                    <h3>Photo One</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, reiciendis.</p>
                </div>
                <img src="https://source.unsplash.com/1600x900/?nature,trees" alt="">
                <div class="caption">
                    <h3>Photo Two</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, reiciendis.</p>
                </div>
                <img src="https://source.unsplash.com/1600x900/?nature,flowers" alt="">
                <div class="caption">
                    <h3>Photo Three</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, reiciendis.</p>
                </div>
                <img src="https://source.unsplash.com/1600x900/?nature,animals" alt="">
                <div class="caption">
                    <h3>Photo four</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, reiciendis.</p>
                </div>
                <img src="https://source.unsplash.com/1600x900/?nature,clouds" alt="">
                <div class="caption">
                    <h3>Photo Five</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, reiciendis.</p>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    export default {
        name: "homePage"
    }
</script>

<style scoped>
    h1 {
        font-weight: 400;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin: 0;
    }

    h2 {
        font-weight: 400;
        font-size: 1.2rem;
        text-transform: capitalize;
        margin: 0;
    }

    img {
        display: block;
        width: 100%;
    }

    main {
        max-width: 900px;
        margin: auto;
        box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.2), -30px 0px 40px rgba(0, 0, 0, 0.2);
    }

    #landing {
        background: #fff;
    }

    #landing-text {
        display: flex;
        flex: 0 1 40vw;
        height: 50vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    #landing-text h2 {
        color: #888;
    }

    .btn {
        padding: 0.5rem 2rem;
        border: 1px #ccc solid;
        display: inline-block;
        margin: 2rem 0 0;
        border-radius: 50px;
        text-decoration: none;
        color: #333;
        outline: 0;
        transition: background 400ms ease;
    }

    .btn:hover {
        background: #f4f4f4;
    }

    #landing-image {
        background: url(https://source.unsplash.com/_T4w3JDm6ug);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        flex: 0 1 60vw;
        margin: 0;
    }

    #header {
        padding: 1.5rem;
        text-align: center;
        background: #555;
        color: #fff;
    }

    #header h2 {
        border-left: dotted 4px #fff;
        border-right: dotted 4px #fff;
        display: inline-block;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .caption {
        padding: 0.8rem;
        text-align: center;
    }

</style>