<template>
    <div class="product-box">
        <div v-for="(product, key) in allProducts" :key="key" class="product-card">
            <div class="product-image">
                <img src="http://www.aendesign.co.uk/images/hc%20t-shirt%20mock-up%20front%401-crop-u22496.png?crc=114384536">
            </div>
            <div class="product-details">
                <h1>{{product.name}}</h1>
                <h1>{{product.price}}</h1>
                 <p>{{product.description}}</p>
                <button type="button" class="btn" @click="addToCart(product)">Add to cart</button>
            </div>
        </div>
        <cart @deleteProd="clearLocal()" :cart="cart" :toggle="toggle"></cart>

        <br>



    </div>
</template>

<script>
    import cart from './cart'
    import {mapGetters} from 'vuex'



    export default {
        name: "productsPage",
        computed: {
            ...mapGetters(['allProducts','allState']),
        },
        components: {
            cart,
        },
        data(){
            return {
                cart: [],
                toggle: false,
            }
        },
        created(){
            this.$store.dispatch('fetchState')
            this.cart = this.allState
        },
        methods: {
            clearLocal(){
                this.cart = []
                this.$on('deleteProd')
            },

            addToCart(item) {
                let check = this.cart.find(element => element.name == item.name)
                if (check && Object.keys(check).length) {
                    check.count += 1
                    check.name

                } else {
                    this.cart.push(item)
                }
                this.saveCart()
                this.toggle = !this.toggle
                this.$store.dispatch('fetchState')
            },

             saveCart() {
                 localStorage.setItem("cart",JSON.stringify(this.cart))
            },
        },
    }
</script>

<style lang="scss" scoped>
    * { box-sizing: border-box; }

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Economica', 'Arial', sans-serif;
        font-size: 18px;
        background: deepskyblue;
    }

    .container {
        position: relative;
        width: 80%;
        max-width: 450px;
        margin: 0 auto;
    }

    form {
        position: relative;
        width: 100%;
        margin: 50px auto;
        padding: 50px;
        background: white;
        text-align: center;
    }

    input {
        display: inline-block;
        width: 100%;
        margin: 20px 0;
        padding: 10px;
        border: 2px dashed lightblue;
        outline: none;
        font-size: 20px;
        font-family: 'Economica', 'Arial', sans-serif;
        font-weight: 400;
        transition: all 0.2s ease;
    }

    input:focus { border-color: deepskyblue; }

    button {
        left: calc(50% - 150px / 2);
        bottom: calc(50px / 2);
        width: 150px;
        height: 50px;
        padding: 10px 15px;
        margin-top: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        color: white;
        font-family: 'Economica', 'Arial', sans-serif;
        font-size: 20px;
        font-weight: 700;
        background: mediumblue;
        transition: all 0.2s ease;
    }

    button:hover { background: midnightblue; }

    button.valid,
    button.valid:hover { background: mediumseagreen; }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    svg path {
        stroke-width: 10px;
        stroke: mediumseagreen;
        fill: none;
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    svg path.hidden { opacity: 0; }

    svg path.animate { animation: drawBorder 1s linear; }

    @keyframes drawBorder {
        from {
            stroke-dasharray: 4000;
            stroke-dashoffset: 4000;
        }

        to {
            stroke-dasharray: 4000;
            stroke-dashoffset: 0;
        }
    }

    h3 {
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
    }
    .product-box{

    }
    .product-card {
        background-color: #fdfefe;
        max-width: 550px;
        min-height: 400px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 150px;
        box-shadow: 8px 12px 30px #b3b3b3;
        color: #919495;
        font-weight: normal;
        text-align: left;
        font-size: 18px;
        position: relative;
    }

    .product-details {
        float: left;
        height: 100%;
        padding: 30px;
    }
    .product-details h1 {
        color: #333;
        font-family: "Pacifico", cursive;
        margin-bottom: 35px;
    }
    .product-details button {
        width: 150px;
        height: 50px;
        margin-top: 20px;
        background-color: #337AB7;
        border-radius: 0;
        color: #fff;
        box-shadow: 2px 2px 7px #173853;
    }
    .product-details button:hover, .product-details button:active, .product-details button:focus {
        color: #fff;
    }

    .product-image {
        position: absolute;
        right: -20px;
        top: -40px;
    }
    .product-image img {
        max-width: 400px;
    }

    @media (max-width: 700px) {
        .product-card {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    @media (max-width: 540px) {
        .product-card {
            overflow: hidden;
            margin-bottom: 50px;
        }

        .product-details {
            width: 60%;
            z-index: 1;
        }

        .product-image {
            width: 100%;
            left: 40%;
            top: -50px;
        }
    }
    @media (max-width: 440px) {
        .product-details {
            width: 65%;
        }
    }
    @media (max-width: 365px) {
        .product-details {
            width: 80%;
            position: relative;
            color: #333;
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
</style>