<template>
  <div id="app">
    <headerNavbar></headerNavbar>
    <router-view></router-view>
    <footerNavbar></footerNavbar>
  </div>
</template>

<script>


export default {

}
</script>

<style>
</style>
